        *{
            padding: 0;
            margin: 0;
            list-style: none;
            text-decoration: none;
            max-width: 100%;
        }

        .header{
            display: none;
        }

        .header__inner{
            display: flex;
            flex-flow: row-reverse;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            padding: 20px 20px;
          }
        .header ul{
            display: flex;
            flex-flow: column;
            padding: 0;
            margin: 0;
        }
          /* ハンバーガーメニュー */
          .hamburger-menu{
            display: flex;
            align-items: center;
            width: 32px;
            height: 32px;
            cursor: pointer;
            z-index: 10;
            padding-top: 20px;
          }
          
          .hamburger-menu__line{
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: #000;
            position: relative;
            transition: all 0.5s;
          }
          
          .hamburger-menu__line::before,
          .hamburger-menu__line::after{
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: #000;
            position: absolute;
            transition: all 0.5s;
          }
          
          .hamburger-menu__line::before{
            transform: translateY(-12px);
          }
          .hamburger-menu__line::after{
            transform: translateY(12px);
          }
          
          .hamburger-menu.open .hamburger-menu__line{
            background-color: transparent;
          }
          .hamburger-menu.open .hamburger-menu__line::before{
            transform: rotate(45deg);
          }
          .hamburger-menu.open .hamburger-menu__line::after{
            transform: rotate(-45deg);
          }
          
          /* ナビゲーション */
          .nav-sp{
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: -300px;
            width: 300px;
            height: 100%;
            padding: 60px 10px 0;
            background-color:rgba(0, 0, 0, 0.8);
            text-align: left;
            transition: right 0.5s;
          }
          
          .nav-sp.open{
            right: 0;
            width: 100%;
            height: 100vh;
          }
          
          .nav-sp a{
            display: inline-block;
            padding: 5px 0;
            font-size: 24px;
            color: #fff;
          }
          .nav-sp a:link, a:visited, a:hover, a:active{
              color: #fff;
          }
          
          
          
        .For_mobile{
            display: none;
        }
            
    .wrap_original {
        overflow: hidden;
        }

        @font-face {
            font-family: "font-bold";
            src: url(fonts/Corporate-Logo-Bold-ver2.ttf);
        }
        @font-face {
            font-family: "font-medium";
            src: url(fonts/Corporate-Logo-Medium-ver2.ttf);
        }


        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        .modal-window {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: 300px;
            background-color: #fff;
            border-radius: 5px;
            z-index: 11;
            overflow-y: auto;
            overflow-y: scroll;
        }

        .m_title{
            font-size: 64px;
            margin: 50px;
            font-family: "font-bold";
        }

        #modal{
            height: 90%;
        }

        .r_box{
            padding-top: 50px;
            padding-bottom: 50px;
            margin-bottom: 30px;
            padding-left: 100px;
            margin-left: 50px;
            border: 3px solid #000;
            border-radius: 15px;
            width: 60%;
            }
        .m_h3{
            font-size: 48px;
            font-family: "font-bold";
        }
        .m_p p{
            font-size: 36px;
            font-family: "font-medium";
        }
        .big_p{
            font-size: 48px;
            font-family: "font-medium";
        }

        .boxies{
            display: flex;
            flex-wrap: wrap;
        }

        .w_box{
            margin-bottom: 30px;
            margin-left: 50px;
            border: 3px solid #000;
            border-radius: 15px;
            width: 500px;
            height: 500px;
        }
        .w_contents{
                margin-top: 50px;
        }
        .w_box h3{
            text-align: center;
            font-size: 36px;
        }
        .w_box p{
            text-align: center;
            font-size: 24px;
            line-height: 50px;
            padding: 50px;
        }

        .pr_box{
                border: 3px solid #000;
                border-radius: 15px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
        }

        .pr_gr{
            padding-top: 50px;
            padding-bottom: 50px;
            padding-right: 20px;
            padding-left: 20px;
        }

        .pr_gr a{
            color: #000;
        }
        .pr_gr a:link, a:visited, a:hover, a:active{
            color: #000;
        }
        
        .pr_content{
            line-height: 90px;
            padding-right: 20px;
            padding-left: 20px;
        }

        .pr_box a{
                font-size: 48px;
                font-family: "font-bold";
        }
        .pr_box a:link, a:visited, a:hover, a:active{
            color: #000;
            text-decoration: underline; 
        }

        .attrac_content{
            font-size: 36px;
            line-height: 100px;
            padding-right: 100px;
            padding-left: 100px;
            padding-bottom: 100px;
        }


        header{
            position: fixed;
            width: 100%;
            z-index: 10;
        }

        .navi ul{
            padding-top: 16px;
            padding-bottom: 16px;
            background-color: #000;
        }

        li{
            display: inline;
            font-size: 20px;
            margin: 16px;
            padding-left: 20px;
        }

        li a{
            color: #fff;
            font-family: "font-medium";
        }

        .navi a:link, a:visited, a:hover, a:active{
            color: #fff;
        }

        .top{
            height: 100vh;
            width: 100%;
            display: table;
            background-position: right center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .top h1{
            font-family: "font-bold";
            font-size: 96px;
            line-height: 110px;
            text-align: left;
            display: table-cell;
            vertical-align: middle;
            padding-left: 200px;
            color: #000; 
            -webkit-text-stroke: 3px #FFF;
        }

        .my-parts {
            display: inline-block;
            transform: skewX(-35deg);
            background: #fff;
            opacity: 0.7;
            width: 50%;
            height: 70%;
        }

        .my-parts span {
            display: inline-block;
            transform: skewX(35deg);
        }

        .sections{
            margin-top: 20px;
            height: 100vh;
            width: 100%;
            display: table;
        }

        .sections h3{
            font-family: "font-bold";
            font-size: 64px;
        }
        #japaneseMS .my-parts {
            display: inline-block;
            transform: skewX(-35deg);
            background: #fff;
            opacity: 0.7;
            width: 70%;
            height: 70%;
        }

        #japaneseMS .my-parts span {
            display: inline-block;
            transform: skewX(35deg);
        }
        #japaneseMS{
            background-image: url(images/bgms_img.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        #japaneseMS h3{
            color: #000;
        }

        #japaneseMS p{
            color: #000;
            width: 100%;
        }

        #aboutSuperGT{
            background-image: url(gr_machines.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        #aboutSuperGT .my-parts{
            transform: skewX(-20deg);
            width: 80%;
        }

        #aboutSuperGT .my-parts span{
            transform: skewX(20deg);
        }

        #aboutSuperGT p{
            width: 100%;
        }

        #attraction{
            background-image: url(images/attraction_img.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        #attraction .my-parts{
            margin-top: 10%;
            transform: skewX(-20deg);
            width: 50%;
            height: 50%;
            margin-left: 10%;
        }

        #attraction .my-parts span{
            margin-top: 10%;
            transform: skewX(20deg);
        }

        #attraction h3{
            padding-left: 10%;
        }

        #gt500{
            padding-bottom: 20px;
            background-image: url(images/gt500_img.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        #gt500 .my-parts{
            margin-top: 3%;
        }

        #gt500 p{
            color: #fff;
            -webkit-text-stroke: 0.8px #000;
        }
        #gt500 h4{
            color: #fff;
            -webkit-text-stroke: 0.8px #000;
        }

        #gt300{
            background-image: url(images/prius.JPG);
            background-size: cover;
            background-repeat: no-repeat;
        }
        #gt300 h4{
            color: #fff;
            padding-top: 50px;
            -webkit-text-stroke: 0.8px #000;
        }
        #gt300 p{
            color: #fff;
            -webkit-text-stroke: 0.8px #000;
        }

        .bg_group{
            background-image: url(images/box_2.png);
            background-size: cover;
            background-repeat: no-repeat;
            text-align: left;
            display: table-cell;
            vertical-align: middle;
            width: 80vw;
            height: 60vh;
            transform: skew(-15deg, -15deg);
            transform: rotate(15,15);
        }

        .my-parts {
            display: inline-block;
            transform: skewX(-35deg);
            background: #fff;
            /* padding: .8em 15em; */
            opacity: 0.7;
            width: 50%;
            height: 70%;
        }

        .my-parts span {
            display: inline-block;
            transform: skewX(35deg);
        }

        .my-parts h3{
            opacity: 1;
            padding-left: 20%;
            width: 100%;
        }
        .my-parts p{
            width: 90%;
            padding-top: 10%;
            padding-left: 20%;
            opacity: 1;
        }



        .content_box{
            padding-left: 10%;
            padding-top: 10%;
        }

        /* .bg_group img{
            width: 95vw;
            height: 95vh;
            opacity: 0.7;
            float: left;
            position: relative;
        } */

        .content_group{
            transform: skew(15deg, 15deg);
            }

        /* .box{
            padding-top: 50px;
            background-image: url(images/box.png);
            background-size: cover;
            background-repeat: no-repeat;
        } */

        .bg_group h2{
            font-size: 72px;
            font-family: "font-bold";
        }

        .bg_group h3{
            font-size: 64px;
            padding-bottom: 48px;
            font-family: "font-bold";
        }

        h4{
            font-size: 48px;
            font-family: "font-bold";
            /* -webkit-text-stroke: 0.8px #000; */
        }

        p{
            font-size: 32px;
            line-height: 70px;
            font-family: "font-medium";
            -webkit-text-stroke: 0.8px #000;
        }

        .cl_dif h4{
            padding-top: 150px;
            text-align: center;
            -webkit-text-stroke: 0.8px #000;
        }

        .cl_dif p{
            text-align: center;
            padding-top: 50px;
            -webkit-text-stroke: 0.8px #000;
        }

        .cl_dif .my-parts{
            padding-right: 10%;
        }

        .tire{
            width: 100%;
            height: 100%;
        }

        .tire h3{
            font-size: 64px;
            padding-bottom: 48px;
            font-family: "font-bold";
            text-align: center;
            padding-top: 40px;
            -webkit-text-stroke: 0.8px #000;
        }

        .tire p{
            font-size: 30px;
            font-family: "font-medium";
            text-align: center;
            line-height: 60px;
            -webkit-text-stroke: 0.8px #000;
        }

        .tires_img{
            padding: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .tires_img img{
            width: 20%;
            margin: 20px;
        }

        .contents{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .contents h5{
            font-size: 36px;
            font-size: 30px;
            color: #000;
            font-family: "font-bold";
        }

        .contents img{
            width: 30%;
        }

        #fun .my-parts{
            transform: skewX(-35deg);
            background: #000;
            width: 50%;
            height: 50%;
        }
        #fun .my-parts span{
            color: #fff;
            display: inline-block;
            transform: skewX(35deg);
            padding-top: 50px;
            padding-bottom: 50px;
        }

        #media h5{
            color: #000;
            text-decoration:underline;
            -webkit-text-stroke: 0.8px #000;
        }
        #media a:link,#media a:visited,#media a:hover,#media a:active {
            color: #000;
        }
        #media .my-parts{
            background: #000;
            color: #fff;
        }

        #more .my-parts{
            background: #000;
            color: #fff;
            width: 50%;
            height: 40%;
        }

        #topic .my-parts{
            background: #000;
            color: #fff;
            width: 40%;
        }

        #topic h3{
            margin-left: 20%;
        }

        .contents img{
            padding: 80px;
        }
        #more{
            /* display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 50%;
            padding-top: 10px; */
        }
        .more_tile{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 50%;
            padding-top: 10px;
        }
        .button-open {
            display: block;
            margin: 0 auto;
            width: 12vw;
            height: 12vw;
            padding: 20px;
            margin: 20px;
            background-color: #fff;
            color: #eaeaea;
            border-radius: 10px;
            cursor: pointer;
            font-family: "font-medium";
            color: #000;
            font-size: 30px;
            box-shadow: 5px 5px 5px rgba(102,68,0,0.5);
        }

        .button-close {
            /* top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); */
            width: 200px;
            padding: 10px;
            margin: 30px;
            background-color: #fff;
            color: #000;
            border-radius: 10px;
            border-color: #000;
            cursor: pointer;
            color: #000;
            font-family: "font-medium";
            font-size: 20px;
            box-shadow: 5px 5px 5px rgba(102,68,0,0.5);
        }

        .button-close button:hover{
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) inset;
        }


        #more button:hover{
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) inset;
        }

        .no_scroll {
            overflow: hidden;
        }

        #ending{
            background-image: url(images/ending_img.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        .message{
            width: 50%;
            margin-top: 150px;
            margin-left: 150px;
            background-color: rgba(255,255,255,0.2);
        }
        .message p{
            text-align: center;
            -webkit-text-stroke: 0.8px #000;
        }

        .copyright p{
            font-size: 12px;
            text-align: center;
        }

        .h1_box_l {
            opacity: 0;
            transform: translateX(-60px);
            transition: 1s ease;
        }
        .anim_box_r {
            opacity: 0;
            transform: translateX(60px);
            transition: 1s ease;
        }

        @media all and (max-width:480px) {
            .navi{
                display: none;
            }
            .For_PC{
                display: none;
            }
            .For_mobile{
                display: block;
            }

            .header{
                display: block;
            }
            .top h1{
                padding: 0;
                padding-left: 5%;
                font-size: 48px;
                -webkit-text-stroke: 1px #FFF;
                line-height: 80px;
            }

            .my-parts{
            transform: skewX(10deg);
                width: 100%;
                height: 100%;
            }
            .my-parts span {
                display: inline-block;
                transform: skewX(-10deg);
                padding-top: 50px;
                padding-bottom: 50px;
            }

            #japaneseMS .my-parts{
                transform: skewX(10deg);
                width: 100%;
                height: 100%;
                margin-top: 20%;
                margin-bottom: 10%;
                }
            #japaneseMS .my-parts span {
                display: inline-block;
                transform: skewX(-10deg);
                padding-top: 50px;
                padding-bottom: 50px;
                }

            #japaneseMS h3{
                margin: auto;
                width: 90%;
                padding: 0;
                -webkit-text-stroke: 1px #FFF;
                font-size: 36px;
            }
            .br-sp{
                display: none; 
            }
            
            #japaneseMS{
                background-image: url(images/mobile_1.png);
            }

            #japaneseMS p{
                width: 90%;
                margin: auto;
                padding: 0;
                font-size: 24px;
                line-height: 45px;
                -webkit-text-stroke: 1px #FFF;
            }

            #aboutSuperGT{
                background-image: url(images/mobile_2.png);
            }
            #aboutSuperGT .my-parts{
                transform: skewX(5deg);
                width: 100%;
                height: 100%;
                margin-top: 10%;
                margin-bottom: 10%;
            }
            #aboutSuperGT .my-parts span{
                display: inline-block;
                transform: skewX(-5deg);
                padding-top: 50px;
                padding-bottom: 50px;
            }
            #aboutSuperGT h3{
                font-size: 36px;
                padding: 0;
                width: 90%;
                margin: auto;
                -webkit-text-stroke: 1px #FFF;
            }
            #aboutSuperGT p{
                width: 80%;
                margin: 0;
                padding: 0;
                width: 90%;
                margin: auto;
                font-size:24px;
                line-height: 45px;
                -webkit-text-stroke: 1px #FFF;
            }
            #attraction{
                height: 50vh;
            }
            #attraction .my-parts{
                transform: skewX(5deg);
                width: 80%;
                height: 100%;
                margin-top: 20%;
                margin-bottom: 20%;
            }
            #attraction .my-parts span{
                display: inline-block;
                transform: skewX(-5deg);
                padding-top: 10px;
                padding-bottom: 0;
                margin: auto;
            }
            #attraction h3{
                font-size: 36px;
                padding: 0;
                width: 100%;
                margin: auto;
                -webkit-text-stroke: 1px #FFF;
            }

            #gt500{
                background-image: url(images/mobile_3.png);
            }
            .cl_dif .my-parts{
                transform: skewX(5deg);
                width: 80%;
                height: 100%;
                margin-top: 30%;
                margin-bottom: 5%;
            }
            .cl_dif .my-parts span{
                padding: 0;
                display: inline-block;
                transform: skewX(-5deg);
            }
            .cl_dif .my-parts span h3{
                font-size: 36px;
                padding: 0;
                padding-left: 10%;
                width: 100%;
                margin: auto;
                -webkit-text-stroke: 1px #FFF;
                line-height: 60px;
                height: 20%;
            }
            .cl_dif p{
                margin: 0;
                padding: 0;
                width: 90%;
                margin: auto;
                font-size: 24px;
                line-height: 45px;
                -webkit-text-stroke: 1px #FFF;
            }

            .cl_dif .my-parts{
                transform: skewX(5deg);
                width: 80%;
                height: 50%;
            }
            .cl_dif .my-parts span{
                display: inline-block;
                transform: skewX(-5deg);
                height: 20%vh;
            }
            .cl_dif .my-parts h3{
                font-size: 40px;
                padding: 0;
                width: 100%;
                margin: auto;
                -webkit-text-stroke: 1px #FFF;
                line-height: 70px;
            }
            .cl_dif p{
                margin: 0;
                padding: 0;
                width: 90%;
                margin: auto;
                font-size: 24px;
                line-height: 45px;
                -webkit-text-stroke: 1px #FFF;
                padding-bottom: 30px;
            }
            .cl_dif h4{
                padding-top: 0px;
            }

            .content_box{
                padding: 0;
            }
            
            .tire h3{
                font-size: 40px;
                width: 80%;
                margin: auto;
            }
            .tire p{
                width: 80%;
                margin: auto;
                font-size: 24px;
                line-height: 40px;
            }

            .tires_img{
                padding: 10px;
                margin: 0;
            }
            .tire img{
                padding: 0;
                margin: 5px;
                width: 30%;
            }


            #fun{
                width: 100%;
                margin: 0;
                padding: 0;
            }
            #fun .my-parts{
                transform: skewX(10deg);
                background: #000;
                width: 100%;
                height: 100%;
                margin: 20% 0;
            }
            #fun .my-parts span{
                color: #fff;
                display: inline-block;
                transform: skewX(-10deg);
                padding-top: 10px;
                padding-bottom: 10px;
            }
            #fun h3{
                margin: 0;
                color: #000;
                -webkit-text-stroke: 2px #fff;
                width: 60%;
                margin: auto;
                font-size: 36px;
                padding-left: 0;
            }
            #fun h5{
                padding-top: 10px;
                padding-left: 10%;
            }
            #fun p{
                font-size: 24px;
                line-height: 50px;
                padding: 5% 10%;
                text-align: center;
            }

            .contents{
                width: 100%;
                margin: 0;
                padding: 0;
            }
            .contents img{
                margin: 0;
                padding: 0;
                width: 80%;
                margin: auto;
                padding-bottom: 50px;
            }

            #media .my-parts{
                background: #000;
                transform: skewX(5deg);
                width: 90%;
                height: 100%;
            }
            #media .my-parts span{
                display: inline-block;
                transform: skewX(-5deg);
                padding-top: 20px;
                padding-bottom: 20px;
            }
            #media h3{
                color: #000;
                -webkit-text-stroke: 2px #fff;
                padding-left: 10%;
                font-size: 36px;
            }

            #media h5{
                padding-top: 50px;
                width: 90%;
                text-align: center;
            }

            #media a{
                margin: auto;
            }
            #media p{
                font-size: 24px;
                line-height: 50px;
                width: 90%;
                margin: auto;
            }
            #media img{
                margin: 0;
                padding: 0;
                width: 80%;
                margin: auto;
            }

            #more h3{
                color: #000;
                -webkit-text-stroke: 2px #fff;
                margin: 0;
                padding: 0;
                padding-bottom: 14%;
                padding-left: 10%;
                font-size: 36px;
            }
            #more .my-parts{
                transform: skewX(5deg);
                width: 80%;
                height: 40%;
            }
            #more .my-parts span{
                display: inline-block;
                transform: skewX(-5deg);
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .more_tile button{
                width: 45vw;
                height: 45vw;
                padding: 0;
                margin: 5px;
            }
            #topic .my-parts{
                transform: skewX(5deg);
                width: 90%;
                height: 20%;
            }
            #topic .my-parts span{
                display: inline-block;
                transform: skewX(-5deg);
                padding-top: 20px;
                padding-bottom: 20px;
            }
            #topic h3{
                color: #000;
                -webkit-text-stroke: 2px #fff;
                padding-left: 30%;
                font-size: 36px;
                margin-left: 10%;
            }
            #topic h5{
                font-size: 36px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            #topic p{
                font-size: 24px;
                line-height: 50px;
                width: 90%;
                margin: auto;
            }

            #ending .message{
                width: 90%;
                margin: auto;
                margin-top: 50px;
            }
            #ending p{
                width: 90%;
                margin: auto;
                font-size: 18px;
                line-height: 40px;
                text-align: left;
            }

            .m_title{
                font-size: 36px;
                padding: 10px;
                margin: 0;
            }
            .m_p{
                font-size: 24px;
                line-height: 40px;
            }
            .r_box{
                padding: 0;
                width: 95%;
                margin: auto;
                margin-bottom: 20px;
            }
            .m_h3{
                font-size: 36px;
                padding: 20px 10px;
                margin: 0;
            }

            .w_box{
                padding: 0;
                width: 95%;
                margin: auto;
                height: auto;
            }
            .w_contents .m_p{
                padding: 10px 10px;
            }

            .m_p{
                padding-left: 20px;
                padding-right: 20px;
            }

            .pr_box{
                width: 95%;
                margin: auto;
            }
            .pr_gr a{
                font-size: 30px;
            }
            .pr_content{
                padding: 0;
                padding-top: 20px;
                line-height: 40px;
                font-size: 24px;
            }

            .big_p{
                font-size: 40px;
                font-family: "font-bold";
            }

            .attrac_content{
                padding: 0 10px;
                font-size: 24px;
                line-height: 45px;
            }
        }